header {
    background-color: var(--secondaryBG);
    height: 200px;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-between;
}

nav {
    padding: 15px;
}

nav a {
    padding: 0 10px 0 10px;
}

.main-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 300px;
    background-color: var(--tertiaryBG);
    border-radius: 1rem;
    margin: 10px;
}

img.site-logo {
    width: 60px;
    height: auto;
}

h1.site-title,
img.site-logo {
    padding: 0 10px 0 10px;
}

/* Convert nav links to column for smaller screens */
@media (max-width: 620px) {
    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    nav a {
        padding-bottom: 10px;
    }
}
