.search-container {
    position: relative;
    width: 60vw;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 75px;
}

.input-label {
    position: absolute;
}

.dropdown {
    position: absolute; 
    top: 100%;          
    left: 0;
    width: 100%;        
    margin: 0;
    padding: 0;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    list-style-type: none;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 999;       
}

.dropdown li {
    padding: 0.5rem;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #f0f0f0;
}

.main-option-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.main-option-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondaryBG);
    flex-grow: 1;
    min-width: 250px;
    max-width: 300px;
    border-radius: 0.75rem;
    margin: 10px;
    animation: none;
}

.main-option-feature:hover {
    animation: raise 0.3s ease forwards;
}

.main-option-feature:not(:hover) {
    animation: lower 0.3s ease forwards;
}

.feature-icon {
    width: 5rem;
    height: auto;
    padding: 20px;
}

.feature-link:visited {
    color: var(--primaryFont)
}

#search-bar-label {
    color: darkgray;
}

@keyframes raise {
    from {
        transform: translateY(0);
        box-shadow: none;
    }
    to {
        transform: translateY(-5px);
        box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.25);
    }
}

@keyframes lower {
    from {
        transform: translateY(-5px);
        box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.25);
    }
    to {
        transform: translateY(0);
        box-shadow: none;
    }
    
}

@media only screen and (min-width: 1280px) {
    .main-option-container {
        width: 80vw;
    }
}