.search-container {
    position: relative;
    width: 60vw;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 75px;
}

.input-label {
    position: absolute;
}

.dropdown {
    position: absolute; 
    top: 100%;          
    left: 0;
    width: 100%;        
    margin: 0;
    padding: 0;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    list-style-type: none;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 999;       
}

.dropdown li {
    padding: 0.5rem;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #f0f0f0;
}

.main-option-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-option-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondaryBG);
    flex-grow: 1;
    min-width: 250px;
    max-width: 300px;
    border-radius: 0.75rem;
    margin: 10px;
}

.feature-icon {
    width: 5rem;
    height: auto;
    padding: 20px;
}

.feature-link:visited {
    color: var(--primaryFont)
}

#search-bar-label {
    color: darkgray;
}