:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  --primaryBG: white;
  --secondaryBG: #9bb4ce;
  --primaryFont: black;
  --secondaryFont: #656464;

  box-sizing: border-box;

  
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

header,
footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--primaryFont);
}

a:visited {
    color: var(--secondaryFont)
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
} */
