.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--secondaryBG);
    padding: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}

.nav-links a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.burger-menu {
    display: none; /* Hide by default */
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .burger-menu {
        display: block; 
    }

    button.burger-menu {
        font-size: 3rem;
    }

    .nav-links {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #333333e8;
        text-align: center;
        padding: 20px 0;
    }

    .nav-links.open {
        display: flex;
        z-index: 2;
    }

    .nav-links a {
        padding: 15px;
        display: block;
    }

    .nav-links a:visited {
        color: white;
    }
}
