.react-datepicker {
  transform: translate(25px, 220px);
  border: 1px solid var(--secondaryBG);
  border-radius: 0.25rem;
}

.react-datepicker__header {
  background-color: var(--secondaryBG);
  color: white;
}

.react-datepicker__day--selected {
  background-color: var(--secondaryBG);
  color: white;
}

.react-datepicker-wrapper {
  width: 100% !important;
  display: block !important;
}

.react-datepicker__input-container {
  width: 100% !important;
}

.my-datepicker input {
  width: 100% !important;
}

@media (max-width: 768px) {
  .react-datepicker {
    transform: translate(20px, 200px);
  }
}

@media (max-width: 480px) {
  .react-datepicker {
    transform: translate(15px, 250px);
  }
}
